
.reveal div .two-col {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.reveal div .two-col.small li {
  font-size: 24px;
}

/*.reveal div .two-col ul {*/
/*  margin-top: 20px*/
/*}*/