{% include citation/author_list.html authors=include.citation.author %}
({{ include.citation.issued.year }}). 
<em>{{ include.citation.title }}</em>. 
{% if include.citation.translator %}
  {% include citation/translators.html translators=include.citation.translator %}
{% endif %}
{% if include.citation.collection-title %}
  In 
  {% if include.citation.editor %}
    {% include citation/editors.html editors=include.citation.editor %}
    {{ include.citation.collection-title }}. 
  {% endif %}
  {% if citation.page %}
    (pp. {{ citation.page }}). 
  {% endif %}
{% else %}
  {% if include.citation.editor %}
    {% include citation/editors.html editors=include.citation.editor %}
  {% endif %}
{% endif %}
{% if include.citation.event-place %}
  {{ include.citation.event-place }}: 
{% endif %}
{% if include.citation.publisher %}
  {{ include.citation.publisher %}}
{% endif %}
{% if include.citation.status %}
  {{ include.citation.status }}
{% endif %}
{% include citation/link.html citation=citation %}.